# knitr and R markdown default cache directories
.lintr
*_cache/
/cache/
*.utf8.md
*.knit.md

# Session Data files
.RData
.RDataTmp

# Dynare leaves .log files and generated folders behind. Figures go to output/.
dynare/*
!dynare/*.mod
!dynare/*.md